body {
  background: #fafafa;
}

.dino {
  position: absolute;
  bottom: 0;
  background-image: url(img/dino.png);
  width: 60px;
  height: 60px;
}

.cactus {
  position: absolute;
  width: 60px;
  height: 60px;
  bottom: 0;
  background-image: url(img/cactus.png);
}

.game-over {
	flex: 1;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: "blue";
}

.game-over-message {
  text-align: center;
  color: #666;
  margin: 50px 0;
  font-family: arial;
}

@keyframes slideright {
  from {
      background-position: 70000%;
  }
  to {
      background-position: 0%;
  }
}

.background {
  position: absolute;
  bottom: 0px;
  background-image: url('img/background.png');
  background-repeat: repeat-x;
  animation: slideright 800s infinite linear;
  -webkit-animation: slideright 800s infinite linear;
  width: 100%;
  height: 200px;
}

.hide {
	display: none;
}

.show {
	display: flex;
}

.restart-button {
	border: solid 1px;
	border-color: rgba(0, 0, 0, 0);
	border-radius: 5px;
	background-color: #666;
	color: #fafafa;
	min-width: 100px;
	min-height: 40px;
	font-size: 1.2em;
	padding: 15px;
	transition: opacity 0.1s;
}

.restart-button:hover {
	opacity: 90%;
}
